.profile_img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  object-fit: cover;
}

.no-image {
  width: 60px;
  height: 60px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 12px;
  color: #666;
}

/* Overlay styling */
.image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 background-color: #2e3a3066;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Popup box */
.image-popup {
    position: relative;
    background: #2e3a30;
    padding: 60px;
    border-radius: 10px;
    max-width: 95% !important;
    max-height: 96% !important;
  width: 827px !important;
    height: 530px !important;
    display: flex;
    box-shadow: 0 0 40px 0 #0000004f;
}

.popup-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    display: block;
    margin: auto auto;
    height: auto;
    width: auto;
    object-fit: contain;
}

/* Close button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #ffffff00;
    color: #ffffff;
    border: none;
    font-size: 30px;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 24px;
    text-align: center;
}



.badge.bg-success {

        border: 1px solid rgba(121, 194, 83, 0.30);
    background: rgba(121, 194, 83, 0.10) !important;
    color: #66AA42;
}
.badge {
    border-radius: 30px;
    padding: 5px 15px;
    display: inline-block;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.badge.bg-warning {
color: #0D6EFD !important;
    border: 1px solid rgba(13, 110, 253, 0.30);
    background: rgba(13, 110, 253, 0.10) !important;
}
.badge.bg-danger {
    color: #C80037 !important; 
    border: 1px solid rgba(200, 0, 55, 0.30);
    background: rgba(200, 0, 55, 0.10 ) !important;
}
.badge.bg-secondary {
    color: #bf9549 !important;
    border: 1px solid #bf95496b;
    background: #deb46747 !important;
}
.loading-state {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
background-color: #2e3a3029;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading {
    width: 100px;
    height: 100px;
    border-radius: 50% !important;
    animation: loading 1s linear infinite;
    box-shadow: inset 2px 0 0 #ffffff00, -3px 0 0 #2e3a30;
    background-color: #e0f2fe00 !important;
}
@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 767.5px) {
    .image-popup {
    padding: 20px;
    height: 370px !important;
}
.close-btn {
    top: 0px;
    right: 0px;
    width: 37px;
    height: 32px;
}

}