.profile_img
{
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 10px;
}

.mp_table td,
.mp_table th
{
  vertical-align: middle;
  background-color: transparent;
  border-bottom: 1px solid rgba(46, 58, 48, 0.15);
}

.mp_table th
{
  padding: 12px 20px;
color: var(--Dark-Gray, #313131);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.mp_table td
{
  padding: 5px 20px;
  color: var(--Charcoal-Gray, #4A4A4A);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}

.action_icons {
    display: flex;
    grid-gap: 15px;
    align-items: center;
}

.action_icons > span
{
  cursor: pointer;
}

.mp_table {
border: 1px solid rgba(46, 58, 48, 0.15);
border-radius: 15px;
}

.pagination_design
{
  padding: 16px 20px;
}

.pagination_label
{
  color: var(--Charcoal-Gray, #4A4A4A);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}

.pagi_design {
    display: flex;
    align-items: center;
    grid-gap: 5px;
    justify-content: flex-end;
}

.pagi_design li span
{
  border-radius:  4px;
border: 1px solid rgba(46, 58, 48, 0.15);
background: var(--Off-White, #F4F4F4);
height: 32px;
width: 32px;
display: flex;
align-items: center;
justify-content: center;

color:  var(--Charcoal-Gray, #4A4A4A);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
transition: 0.3s;
cursor: pointer;
}

.pagi_design li.active span
{
  border-radius: 4px;
background: var(--Dark-Green, #2E3A30);
color: var(--Off-White, #F4F4F4);
}

.pagi_design li span:hover
{
  border-color: var(--Dark-Green, #2E3A30);
}

.pointer-none
{
  pointer-events: none;
}