:root
{
    --Dark-Green: #2E3A30;
    --Brunt-Gold-Gradient:linear-gradient(180deg, #E0B669 0%, #B48A3E 100%);
    --Off-White: #F4F4F4;
    --Burnt-Gold: #B48A3E;
    --Dark-Gray: #313131;
    --Charcoal-Gray: #4A4A4A;
    --Border-Color: rgba(46, 58, 48, 0.15);
    --Darkest-Green:#2D382F;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: var(--Off-White, #F4F4F4);
}
h1,h2,h3,h4,h5,h6
{
    font-family: 'Merriweather';
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img, svg
{
    display: block;
}

.input_field
{
    margin-bottom: 15px;
}

.input_field label
{
    color: var(--Off-White, #F4F4F4);
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 10px;
display: block;
}

.input_field .form-control
{
    border-radius: 10px;
border: 1px solid rgba(244, 244, 244, 0.10);
background: var(--Darkest-Green);
padding: 13px 15px;
color: var(--Off-White, #F4F4F4);
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.input_field .form-control:focus
{
    border-color: rgba(244, 244, 244, 0.30);
    box-shadow: none;
}

.input_field .form-control::placeholder {
  color: rgba(244, 244, 244, 0.50);
  opacity: 1; /* Firefox */
}

.input_field .form-control::-ms-input-placeholder { /* Edge 12 -18 */
  color: rgba(244, 244, 244, 0.50);
}

.cus_form_check .form-check-input {
    background-color: transparent;
    border-color: rgba(244, 244, 244, 0.10);
    height: 20px;
    width: 20px;
    margin-top: 0;
    cursor: pointer;
}
.cus_form_check .form-check-input:focus
{
    outline: 0;
    box-shadow: none;
}

.cus_form_check .form-check-input:checked {
    background-color: var(--Burnt-Gold);
    border-color:  var(--Burnt-Gold);
}

.cus_form_check .form-check-label
{
    color: var(--Off-White, #F4F4F4);
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: block;
    margin-left: 8px;
    user-select: none;
    cursor: pointer;
}

.cus_form_check .form-check {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.cus_form_check .form-check .form-check-input {
    margin-left: -20px;
}

.cus_form_check
{
    margin-block: 10px 22px;
}

.common_button {
    background: var(--Brunt-Gold-Gradient);
    border-radius: 10px;
    color: var(--Off-White, #F4F4F4);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 100%;
    border: 0;
    padding: 10px 15px;
    text-transform: uppercase;
    transition: 0.3s;
    display: flex;
    grid-gap: 5px;
    text-decoration: none;
    justify-content: center;
}

.common_button:hover
{
    opacity: 0.9;
    color: var(--Off-White);
}

.icon_field .form-control
{
    padding-left: 45px;
}



.icon_field .field_icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    z-index: 1;
}

.hide_show_icon
{
    left: auto !important;
    right: 15px;
    cursor: pointer;
}

.login-link {
    color: var(--Off-White, #F4F4F4);
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: block;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    margin-top: 12px;
}



.inner_main_wrapper
{
    padding-left: 250px;
}

.page_heading
{
  color: var(--Dark-Gray, #313131);
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.main_page
{
    padding: 0 15px 0 15px;
}

.main_heading_area
{
    margin-bottom: 20px;
}

.modal-backdrop {
    background: rgba(46, 58, 48, 0.95);
    backdrop-filter: blur(5px);
}

.modal-backdrop.show {
    opacity: 1;
}

.modal-content {
    border-radius: 30px;
    border: 5px solid rgba(244, 244, 244, 0.15);
    background: var(--Dark-Green, #2E3A30);
    box-shadow: 0 0 30px 0 rgba(244, 244, 244, 0.10);
}

.modal-body
{
    padding: 50px 30px 30px 30px;
}

.head_modal
{
  color: var(--Off-White, #F4F4F4);
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
}

.sub_head
{
  color: var(--Off-White, #F4F4F4);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
margin-top: 5px;
opacity: 0.75;
}

.head_area
{
    margin-bottom: 30px;
}

.btn-close {
    background: none;
    opacity: 1;
    position: absolute;
    right: -13px;
    top: -13px;
    height: auto;
    width: auto;
    z-index: 1;
}

.btn-close:focus
{
    outline: 0;
    box-shadow: none;
}