.single_question
{
  padding: 15px;
  border-radius: 10px;
border: 1px solid rgba(46, 58, 48, 0.15);
background: var(--Off-White, #F4F4F4);
display: flex;
flex-direction: column;
}

.question_heading
{
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
  align-items: center;
}

.question_number
{
  height: 30px;
  width: 30px;
  border-radius: 8px;
background: var(--Burnt-Gold, #B48A3E);
color: var(--Off-White, #F4F4F4);
text-align: center;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: normal;
display: flex;
justify-content: center;
align-items: center;

}

.question_name
{
  color: var(--Dark-Gray, #313131);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
font-family: 'Merriweather';
}

.question_options_area
{
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
  align-items: center;
}

.question_options_head
{
  color: var(--Charcoal-Gray, #4A4A4A);
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.question_answer
{
  border-radius: 200px;
border: 1px solid rgba(46, 58, 48, 0.15);
padding: 7px 14px;
color: var(--Charcoal-Gray, #4A4A4A);
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
}

.delete_action
{
  margin-left: 5px;
}

.question_options_area
{
  margin-top: 15px;
}