.header_main
{
  padding: 15px;
  position: sticky;
  top: 0;
  z-index: 9;
}

.inner_header_main
{
  border-radius: 10px;
background: var(--Dark-Green, #2E3A30);
padding: 13px;
}

.welcome_head
{
  color: var(--Off-White, #F4F4F4);
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 10px;
}


.name_box
{
  border-radius: 10px;
background: linear-gradient(180deg, #E0B669 0%, #B48A3E 100%), var(--Burnt-Gold, #B48A3E);
height: 40px;
width: 40px;
color: var(--Off-White, #F4F4F4);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
display: flex;
align-items: center;
justify-content: center;
}


.name_area
{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 10px;
  margin-right: 10px;
}

.admin_name
{
  color: var(--Off-White, #F4F4F4);
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.breadcrumps_cus
{
padding: 0 15px 38px 15px;
}

.breadcrumps_cus ul {
display: flex;
align-items: center;
flex-wrap: wrap;
grid-gap: 13px;
margin-top: 5px;

}