.sidebar_main
{
    width: 250px;
    background: var(--Dark-Green, #2E3A30);
    padding: 0 15px 0 15px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9;
    overflow-y: auto;
    
}

.sidebar_links {
    display: flex;
    flex-direction: column;
    grid-gap: 18px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.sidebar_links > li > a
{
    color: var(--Off-White, #F4F4F4);
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
display: flex;
grid-gap: 10px;
flex-wrap: wrap;
text-decoration: none;
opacity: 0.7;
align-items: center;
padding: 8px 15px;
border-radius: 10px;
transition: 0.3s;
}

.sidebar_links > li > a span
{
    flex: 1;
}

.sidebar_links > li > a.active
{
    opacity: 1;
    background: var(--Brunt-Gold-Gradient);
}

.sidebar_links > li > a:hover{
    opacity: 1;
}

.logout_btn a
{
    border-radius: 10px;
border: 1px solid var(--Burnt-Gold, #B48A3E);
color: var(--Off-White, #F4F4F4);
text-align: center;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding: 8px 10px;
min-width: 105px;
text-decoration: none;
display: inline-flex;
justify-content: center;
transition: 0.3s;
}

.logout_btn a:hover
{
    background: var(--Brunt-Gold-Gradient);
}

.logout_btn {
    margin-top: auto;
    position: sticky;
    bottom: 0;
    background: var(--Dark-Green);
    padding: 22px 0;
}

.dashboard_logo {
    position: sticky;
    top: 0;
    z-index: 1;
    background: var(--Dark-Green);
    padding: 30px;
}

.dashboard_logo .k_logo
{
    margin-bottom: 0;
}